<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanchong.dao.UUserDao">
<select id="login" parameterType="java.util.Map" resultType="uuser">
	select * from u_user where email=#{username} and pswd=#{pswd}
</select>

</mapper>